examples/StockQuote2.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:tns="http://example.com/stockquote.wsdl" xmlns:xsd1="http://example.com/stockquote.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="StockQuote" targetNamespace="http://example.com/stockquote.wsdl">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/stockquote.xsd">
      <xs:simpleType name="Trade">
        <xs:restriction base="xs:string">
          <xs:enumeration value="AAPL"/>
          <xs:enumeration value="GOOG"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ArrayOfTrade">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Trade" nillable="true" type="xsd1:Trade"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="TradePriceRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="tradeList" nillable="true" type="xsd1:ArrayOfTrade"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TradePrice">
        <xs:complexType>
          <xs:all>
            <xs:element name="price" type="xs:float"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetLastTradePriceInput">
    <wsdl:part name="body" element="xsd1:TradePriceRequest"/>
  </wsdl:message>
  <wsdl:message name="GetLastTradePriceOutput">
    <wsdl:part name="body" element="xsd1:TradePrice"/>
  </wsdl:message>
  <wsdl:portType name="StockQuotePortType">
    <wsdl:operation name="GetLastTradePrice">
      <wsdl:input message="tns:GetLastTradePriceInput"/>
      <wsdl:output message="tns:GetLastTradePriceOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockQuoteSoapBinding" type="tns:StockQuotePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetLastTradePrice">
      <soap:operation soapAction="http://example.com/GetLastTradePrice"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockQuoteService">
    <wsdl:port name="StockQuotePort" binding="tns:StockQuoteSoapBinding">
      <soap:address location="http://localhost:15099/stockquote"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
